.sidebar{
  width: 230px;
  height: 100vh;
}
.sidebar-menu {
  padding-top: 12px;
}
hr {
  border: none;
  height: .1px;
  background:#80808069;
  margin-bottom: 15px;
  margin-top: 15px;
}
.home, .trending, .subscriptions, .library {
  display: flex;
  padding: 7px 24px;
  font-size: 13px;
  cursor: pointer;
}
.home:hover{
background-color: #e5e5e5;
}
.trending:hover{
background-color: #e5e5e5;
}
.subscriptions:hover{
background-color: #e5e5e5;
}
.library:hover{
background-color: #e5e5e5;
}

.subscriptions{
  padding-bottom: 7px;
}

.icon {
  margin-right: 24px ;
  color: #606060;
}
.menu-title {
  margin: auto 0;
}